
{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrder": [
    "^(next)(/.*)?$",
    "^(react|react-dom)(/.*)?$",
    "^@tanstack(/.*)?$",
    "^react-hook-form(/.*)?$",
    "^@hookform/resolvers(/.*)?$",
    "^zod(/.*)?$",
    "^clsx(/.*)?$",
    "^framer-motion(/.*)?$",
    "^lucide-react(/.*)?$",
    "^axios(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^@/components(/.*)?$",
    "^@/layout(/.*)?$",
    "^@/provider(/.*)?$",
    "^@/hook(/.*)?$",
    "^@/services(/.*)?$",
    "^@/schemas(/.*)?$",
    "^@/types(/.*)?$",
    "^@/utils(/.*)?$",
    "^@/lib(/.*)?$",
    "^@/model(/.*)?$",
    "^@/.*$",
    "^.+\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}

