@import 'tailwindcss';

:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #2e2e2e;
  --secondary: #656565;
  --muted: #989898;

  --background-muted: #f5f5f5;
  --surface: #f6f6f6;

  --border: #cfcfcf;

  --danger: #ff0000;
}

@layer base {
  html {
    font-family: var(--font-vazir);
  }
}

@theme {
  --color-white: var(--white);
  --color-black: var(--black);
  --color-primary: var(--primary);
  --color-seconday: var(--secondary);
  --color-muted: var(--muted);
  --color-bg-muted: var(--background-muted);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-danger: var(--danger);
}
