@import 'tailwindcss';

:root {
  --bg-white: #ffffff;
  --bg: #ffff;

  --primary: #2e2e2e;
  --secondary: #656565;
  --muted: #989898;

  --background-muted: #f5f5f5;
  --surface: #f6f6f6;
  --border: #cfcfcf;

  --danger: #ff0000;

  &.dark {
    --bg: #161616;
    --bg-white: #0d0d0d;
    --primary: #ffffff;
    --secondary: #a5a5a5;
    --muted: #777;
    --background-muted: #1f1f1f;
    --surface: #1c1c1c;
    --border: #333;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--black) inset;
  -webkit-text-fill-color: var(--white);
  caret-color: var(--white);
}

@layer base {
  html {
    font-family: var(--font-vazir);
  }
}

@theme {
  --color-bg-white: var(--bg-white);
  --color-bg: var(--bg);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-bg-muted: var(--background-muted);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-danger: var(--danger);
}

@layer utilities {
  .sidebar-scrollbar {
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: rgb(107 114 128 / 0.5) transparent;
  }

  .sidebar-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .sidebar-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .sidebar-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background: rgb(107 114 128 / 0.5);
  }

  .sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(156 163 175 / 0.7);
  }
}

@utility wrapper {
  @apply mx-auto max-w-7xl px-4 md:px-6 lg:px-8;
}
